<section id="content-wrap" class="site-page">
  <div class="row">
    <div class="col-twelve">
      <section>
        <div class="primary-content">
          <h4 class="entry-title add-bottom" >Dodaj post:</h4>
          <form (ngSubmit)="submit()">
          <fieldset>
            <div class="form-filed">
              <input name="title" type="text" class="full-width" placeholder="Tytuł ..." [(ngModel)]="post.title">
            </div>

            <div class="form-filed">
              <input name="url" type="text" class="full-width" placeholder="Adres URL ..." [(ngModel)]="post.url">
            </div>

            <div class="form-filed">
              <input name="content" type="text" class="full-width" placeholder="Treść ..." [(ngModel)]="post.content">
            </div>

            <button class="submit button-primary pull-right" type="submit">Zapisz</button>
          </fieldset>
        </form>
        </div>
      </section>
    </div>
  </div>
</section>
