<section id="container">

  <header class="header black-bg">
    <div class="nav notify-row" id="top_menu">
      <ul class="nav navbar-header">
        <li><a href="index.html" class="logo"><b><span>STRONA GŁÓWNA</span></b></a></li>
        <li><a href="blog.html" class="logo"><b>Blog</b></a></li>
        <li><a href="quiz.html" class="logo"><b>Quiz</b></a></li>
        <li><a href="contact.html" class="logo"><b>Kontakt</b></a></li>
      </ul>
    </div>
  </header>

  <section id="main-content">
    <section class="wrapper">
      <div> <section class="wrapper">
        <h2>Quiz - znajomość serialu 'Miodowe Lata'</h2>

        <div class="quiz-container">
          <div id="quiz"></div>
        </div>

        <button type="button" id="previous" class="btn btn-theme">Poprzednie</button>
        <button type="button" id="next" class="btn btn-theme">Następne</button>
        <button type="button" id="submit" class="btn btn-theme">Sprawdź</button>

        <!--<div id="results">Wynik: </div>-->
      </div></section>

    <div class="progress">
      <div class="progress-bar" id="step" role="progressbar" style="width: 10%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </section>
</section>
