<header class="short-header">
  <div class="gradient-block"></div>
  <div class="row header-content">

    <nav id="main-nav-wrap">
      <ul class="main-navigation sf-menu">
        <li class="current"><a routerLink="home" title="">Strona główna</a></li>
        <li class="has-children">
          <a routerLink="blog">Blog</a>
          <ul class="sub-menu">
            <li><a routerLink="blog">Przeglądaj</a></li>
            <li><a routerLink="blog/create">Dodaj</a></li>
          </ul>
        </li>
        <li><a routerLink="quiz" title="">Quiz</a></li>
        <li><a routerLink="contact" title="">Contact</a></li>
      </ul>
    </nav>

    <div class="triggers">
      <a class="menu-toggle" href="#"><span>Menu</span></a>
    </div>

  </div>
</header>
