<section id="content-wrap" class="site-page">
  <div class="row">
    <div class="col-twelve">
    <section>
      <div class="primary-content">

        <form [formGroup]="form" name="cForm" id="cForm">
          <h1 class="entry-title add-bottom">UZUPEŁNIJ DANE</h1>
          <fieldset>

          <div class="form-filed">
            <div *ngIf="form.get('firstName').touched && form.get('firstName').invalid" class="ss-error" required="">Wpisz poprawne imię</div>
            <input formControlName="firstName" type="text" class="full-width" id="firstName" name="firstName" placeholder="Imię..." required minlength="2" required="">
          </div>

          <div class="form-filed">
            <div *ngIf="form.get('lastName').touched && form.get('lastName').invalid" class="ss-error">Wpisz poprawne nazwisko</div>
            <input formControlName="lastName" type="text" class="full-width" id="lastName" placeholder="Nazwisko..." required minlength="2" required="">
          </div>

          <div class="form-filed">
            <div *ngIf="form.get('email').touched && form.get('email').invalid" class="ss-error" required="">Podaj poprawny email</div>
            <input formControlName="email" type="email" class="full-width" id="email" placeholder="E-mail...">
          </div>

          <label class="add-bottom">
            <input type="radio" id="woman" name="sex">
            <span class="label-text">Kobieta</span>
          </label>
          <label class="add-bottom">
            <input type="radio" id="man" name="sex">
            <span class="label-text">Mężczyzna</span>
          </label>

          <div class="message form-filed">
            <textarea formControlName="message" class="full-width" id="message" placeholder="Treść wiadomości..." rows="3"></textarea>
          </div>

          <div class="form-filed">
            <div *ngIf="form.get('age').touched && form.get('age').invalid" class="ss-error" required="">Podaj poprawny wiek</div>
            <input formControlName="age" type="number" class="full-width" id="formGroupExampleInput" name="age" min="0" placeholder="Wiek">
          </div>

          <div class="form-filed">
            <select formControlName="inputState" id="inputState" class="full-width" placeholder="Stan cywilny" class="full-width">
              <option></option>
              <option>panna/kawaler</option>
              <option>mężatka/żonaty</option>
              <option>wdowa/wdowiec</option>
            </select>
          </div>

          <button class="btn btn-theme04 pull-left" onclick="document.getElementById(firstName).value = ''" type="button">Anuluj</button>
          <button class="submit button-primary pull-right" type="submit">Zapisz</button>

          </fieldset>
        </form>
      </div>
      </section>
    </div>
  </div>
</section>

