<section id="content-wrap" class="blog-single">
  <div class="row">
    <div class="col-twelve">

      <article class="format-standard">

        <div class="content-media">
          <div class="post-thumb">
            <app-blog-item-image [image]="post.url"></app-blog-item-image>
          </div>
        </div>

        <div class="primary-content">
          <h1 class="page-title"><app-blog-item-text [text]="post.title"></app-blog-item-text></h1>
          <p class="lead"><app-blog-item-text [text]="post.content"></app-blog-item-text></p>
        </div>

      </article>
    </div>
  </div>
</section>
